@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
}
/* body */

body {
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    color: black;
}

/* headings */

h1 ,h2 {
    font-family: "roboto", sans-serif;
    text-transform: uppercase;
    color: black;
}

/* logo */

#logo {
    font-size: 200%;
    color: blue;
    float: left;
    border-bottom: 1px solid orange;
    margin-left: 20px;
}

#logo i {
    color: orange;
}

/* navigation menu */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu  li {
    list-style-type: none;
    float: right;

}

#menu a {
    text-decoration: none;
    color: blue;
    padding: 14px 16px;
}
#menu a:hover {
    border-bottom: 1px solid orange;
}

.active {
    border-bottom: 1px solid blue;
}

/* landing page hero-image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 20px 0;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpeg') no-repeat center center;
}

#cover-text {
    text-align: center;
    width: 270px;
    height: 270px;
    padding: 40px;
    border: 1px sloid orange;
    border-radius: 50%;
    background-color: rgba(51, 204, 51, .7);
    top: 100px;
    left: 160px;
    position: absolute;
    overflow: hidden;
}

/* main page content */

.main-content {
    padding: 20px;
    /* border: 1px dotted orange; */
} 

.main-heading {
    text-align: center;
    clear: both;
    padding-top: 20px;
}

.main-heading h2 {
    margin-bottom: 20px;
}

.main-heading~p {
    text-align: center;
    padding: 30px;
    margin-bottom: 20px;
}

/* main content text and pictures */

#left-about-heading-1 {
    padding-top: 30px;
    width: 40%;
    float: left;
    clear: both;
}

#right-about-heading-1 {
    padding-top: 30px;
    width: 40%;
    float: right;
}

#left-about-heading-2 {
    padding-top: 30px;
    width: 40%;
    float: left;
    clear: both;
}


#right-about-heading-2 {
    padding-top: 30px;
    width: 40%;
    float: right;
}

#left-about-heading-3 {
    padding-top: 30px;
    width: 40%;
    float: left;
    clear: both;
}


#right-about-heading-3 {
    padding-top: 30px;
    width: 40%;
    float: right;
}

/* brathay adventures section video and activities */

.visitor-centre a {
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
}

.visitor-centre img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 20px;
    border: 1px dotted orange;
}

#adventures iframe {
    width: 100%;
    padding: 20px;
    border: 1px dotted orange;
    margin: 0 auto;
    display: block;
}

#adventures {
    /* margin-top: 30px; */
    clear: both;
    padding: 30px;
}

#adventures h2, h3 {
    text-align: center;
    margin-bottom: 20px;
    /* margin-top: 40px; */
    padding: 30px;
}

#adventures p {
    text-align: center;
    padding: 30px;
    margin-bottom: 20px;
}

#adventures ul {
    padding: 20px;
    list-style-type: none;
}

.activities {
    text-align: center;
    color: blue;
    border-radius: 15px;
    font-size: 30px;
    width: 200px;
    padding:20px;
    margin: 40px auto;
    border: 1px solid blue;
    display: block;
    text-decoration: none;
}

.activities:hover {
    background-color: blue;
    color: white;
}

/* sign up button */

#sign-up {
    text-align: center;
    color: blue;
    border-radius: 15px;
    font-size: 30px;
    width: 200px;
    padding:20px;
    margin: 40px auto;
    border: 1px solid blue;
    display: block;
}

#sign-up a:hover {
    background-color: blue;
    border: 1px solid blue;
    color: #FFF;
}

#sign-up a {
    text-decoration: none;
    color: blue;
    width: 200px;
    padding:20px;
    margin: 40px auto;
}

/* Footer social media links */

footer {
    height: 150px;

    clear: both;
}

.social-networks {
text-align: center;
}
.social-networks li {
    display: inline
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: black;
}

/* where to ride */

#where-to-ride {
    margin-bottom: 20px;
    clear: both;
    padding-top: 30px;
}

#where-to-ride-heading {
    text-align: center;
}

#where-to-ride-heading h2, p {
    margin-bottom: 20px;
}

#intermediate {
    clear: both;
    margin-top: 20px;
}

#advanced {
    clear: both;
    margin-top: 20px;
}

.route-description {
    margin-right: 20px;
}
.route-level-heading {
    text-align: center;
    padding-top: 30px;
    clear: both;
}

.route-image {
    width: 500px;
    margin-left: 20px;
}

.route-image img {
    width: 100%;
}

#about-left-1 {
    padding-top: 30px;
    width: 40%;
    float: left;
    display: inline-block;
}

#about-right-1 {
    padding-top: 30px;
    width: 50%;
    float: right;
    display: inline-block;
}

#about-left-2 {
    padding-top: 30px;
    width: 40%;
    float: left;
    clear: both;
}

#about-right-2 {
    padding-top: 30px;
    width: 50%;
    float: right;
}

#about-left-3 {
    padding-top: 30px;
    width: 40%;
    float: left;
    clear: both;
}

#about-right-3 {
    padding-top: 30px;
    width: 50%;
    float: right;
}

#about-left-4 {
    padding-top: 30px;
    width: 40%;
    float: left;
    clear: both;
}

#about-right-4 {
    padding-top: 30px;
    width: 50%;
    float: right;
}

#about-left-5 {
    padding-top: 30px;
    width: 40%;
    float: left;
    clear: both;
}

#about-right-5 {
    padding-top: 30px;
    width: 50%;
    float: right;
}

#about-left-6 {
    padding-top: 30px;
    width: 40%;
    float: left;
    clear: both;
}

#about-right-6 {
    padding-top: 30px;
    width: 50%;
    float: right;
}

#about-left-7 {
    padding-top: 30px;
    width: 40%;
    float: left;
    clear: both;
}

#about-right-7 {
    padding-top: 30px;
    width: 50%;
    float: right;
}

#about-left-8 {
    padding-top: 30px;
    width: 40%;
    float: left;
    clear: both;
}

#about-right-8 {
    padding-top: 30px;
    width: 50%;
    float: right;
}

#top-button {
    background-color: blue;
    color: whitesmoke;
    outline: none;
    bottom: 20px;
    right: 5px;
    height: 20px;
    position: fixed;
    z-index: 99;
}

#top-button a {
    text-decoration: none;
    color: whitesmoke;
}

/* sign-up.html */

.form-section {
    clear: both;
    background: url("../images/sign-up.jpeg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 100px 10% 0 0;
    color: whitesmoke;
    background-color: rgba(49, 83, 194, 0.6);
    max-width: 400px;
    position: absolute;
    right: 0;
    padding: 30px;
}

.signup-form h1, h2 {
    color: orange;
}

.text-input {
    background: transparent;
    color: whitesmoke;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid orange;
    border-radius: 2px;
    outline: none;
}

.text-input:hover {
    border-color: whitesmoke;
}

.checkbox {
    float: left;
    margin-right: 5px;
}

.sign-up-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: orange;
    color: whitesmoke;
    display: block;
}

.sign-up-button:hover {
    background-color: #fafafa;
    color: orange;
}

/* about.html main image */

#family-outer {
    padding: 10px;
    text-align: center;
}

#family-image {
    padding-bottom: 30px;
}

#family-image img {
    padding: 20px;
    border: 1px dotted orange;
    width: 100%;
}

/* family individual images */

#about-us {
    padding: 20px;
    /* border: 1px dotted orange; */
    clear: both;
}

#about-us h2 {
    text-align: center;
}

#about-us p {
    text-align: center;
}

.about-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.about-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width: 80%;
    text-align: center;
}

#kids-vid video {
    /* height: 500px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

/*review form*/

.review-form {
    margin: 0 auto;
    color: whitesmoke;
    background-color: rgba(49, 83, 194, 0.6);
    max-width: 400px;
    left: 20%;
    padding: 30px;
}


/*media queries*/

/* For large to medium screens sizes from 1100px wide and down */

    /*nav*/

    @media screen and (max-width: 1100px){
        #menu {
            clear: left;
            float: left;
            line-height: 25px;
        }
    }

    @media screen and (max-width: 500px){
        #menu {
            font-size: 50%;
        }
    }

/*logo resizing*/

    @media screen and (max-width: 550px) {
        #logo {
            font-size: 150%;
        }
    }
/*logo for mobile*/
    @media screen and (max-width: 400px) {
        #logo {
            font-size: 100%;
        }
    }

    /*cover text*/

    @media screen and (max-width: 900px){
        #cover-text {
            left: 0;
        }
        
    /*images and text on index.html to center*/
        .main-heading {
            width: 90%;
            height: 1200px;
            margin: 0 auto;
        }

        #left-about-heading-1 {
            width: inherit;
            float: revert;
        }

        #right-about-heading-1 {
            width: inherit;
        }

        #left-about-heading-2 {
            width: inherit;
            float: revert;
        }

        #right-about-heading-2 {
            width: inherit;
        }

        #left-about-heading-3 {
            width: inherit;
            float: revert;
        }

        #right-about-heading-3 {
            width: inherit;
        }

        #left-about-heading-1 img {
            margin: 0 auto;
        }

/*media queries for where-to-ride.html*/

        #where-to-ride > div {
            width: 90%;
            margin: 0 auto;
        }
        #beginner {
            width: 90%;
            margin: 0 auto;
        }

        #about-left-1 {
            width: 50%;
            float: revert;
            display: inherit;
            margin: 0 auto;
        }

        #about-right-1 {
            width: inherit;
        }

        #about-left-2 {
            width: 50%;
            float: revert;
            display: inherit;
            margin: 0 auto;
        }

        #about-right-2 {
            width: inherit;
        }


        #about-left-3 {
            width: 50%;
            float: revert;
            display: inherit;
            margin: 0 auto;
        }

        #about-right-3 {
            width: inherit;
        }

        #intermediate {
            width: 90%;
            margin: 0 auto;
        }

        #about-left-4 {
            width: 50%;
            float: revert;
            display: inherit;
            margin: 0 auto;
        }

        #about-right-4 {
            width: inherit;
        }

        #about-left-5 {
            width: 50%;
            float: revert;
            display: inherit;
            margin: 0 auto;
        }

        #about-right-5 {
            width: inherit;
        }

        #about-left-6 {
            width: 50%;
            float: revert;
            display: inherit;
            margin: 0 auto;
        }

        #about-right-6 {
            width: inherit;
        }

        #advanced {
            width: 90%;
            margin: 0 auto;
        }

        #about-left-7 {
            width: 50%;
            float: revert;
            display: inherit;
            margin: 0 auto;
        }

        #about-right-7 {
            width: inherit;
        }

        #about-left-8 {
            width: 50%;
            float: revert;
            display: inherit;
            margin: 0 auto;
        }

        #about-right-8 {
            width: inherit;
        }
    }

@media screen and (max-width:400px) {
    .signup-form {
        padding: 20px;
    }
}