@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
}

/* logo */

#logo {
    font-size: large;
    color: blue;
    float: left;
    border-bottom: 1px solid orange;
}

#logo i {
    color: orange;
}

/* navigation menu */

#menu {
    font-size: large;
    letter-spacing: 2px;
}

#menu  li {
    list-style-type: none;
    float: right;
}

# menu a {
    text-decoration: none;
    color: blue;
}
#menu a:hover {
    border-bottom: 1px solid orange;
}

.active {
    border-bottom: 1px solid blue;
}

#logo #menu {
    line-height: 100px;
}
