@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
}

/* logo */

#logo {
    font-size: large;
    color: blue;
    float: left;
    border-bottom: 1px solid orange;
}

#logo i {
    color: orange;
}

/* navigation menu */